.blogs {
    margin-top: 50px;
    padding: 25px 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.blogs .row:first-child {
    text-align: center;
    margin: 25px auto;
}

.blogs h2 {
    font-size: 45px;
    width: 100%;
}

.blogs p {
    margin: 25px auto;
    width: 80%;
}
.blogs .box {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #f6f6f6;
    margin-top: 10px;
    border-radius: 5px;
}
.blogs img {
    max-width: 100%;
}

.blogs .box h4 {
    color: #77132b;
    font-family: "Tajawal", sans-serif;
    font-size: 22px;
    margin: 15px 0;
}
.blogs .box h5 {
    display: block;
    color: #444;
    font-family: "Tajawal", sans-serif;
    margin-bottom: 15px;
    margin-top: -10px;
}
.blogs .box h6 {
    color: #a82d49;
    font-size: 30px;
}
