* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Tajawal", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Tajawal", sans-serif;
}

h2 {
    width: 80%;
    font-size: 35px;
    margin: 10px 0;
    color: #43121d;
    font-family: "Tajawal" sans-serif;
    line-height: 50px;
}
p {
    color: #555;
    font-family: "Tajawal" sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    margin-top: 15px;
}
i {
    display: inline-block;
    font-family: "Tajawal" sans-serif;
    background: #a82d49;
    border: 3px solid #a82d49;
    color: #fff;
    width: 150px;
    height: 50px;
    padding: 10px;
    text-align: center;
    transition: 0.2s ease;
}
i:hover {
    cursor: pointer;
    background: #fff;
    color: #a82d49;
}
